//fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Squada+One&display=swap');

$robotoSlab: 'Roboto Slab', 'sans-serif';
$squadaOne: 'Squada One', 'sans-serif';



//colors
$backgroundColor: #FCF5EA;
$borderColor: #1E2643;
$buttonColor: #FE9565;
$inputBorderColor: #686868;